<!--The content below is only a placeholder and can be replaced.-->
<h2>single slot content projection</h2>
<div class="app">
  <app-my-component>
    This is my transcluded content!
  </app-my-component>
</div>

<hr>

<h2>multi slots content projection</h2>
<div class="app">
  <app-my-component2>
    <div class="my-component-title">
      This is the Component title!
    </div>
    <div class="my-component-content">
      And here's some awesome content.
    </div>
  </app-my-component2>
</div>
